.MuiTableRow-root.Mui-selected {
  background-color: #ffd5cde8 !important;
}

.css-ii6g1m-MuiDivider-root {
  height: 0px !important;
}
.ql-picker.ql-font {
  .ql-picker-item {
    font-size: 0;
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}

.ql-picker.ql-font{
  .ql-active {
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}
